{% extends 'base.html.twig' %}

{% block title %}Hello RegistroUserController!{% endblock %}

{% block body %}
    {{ parent() }}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {{ form(form_registro_user) }}
{% endblock %}
