{% extends 'base.html.twig' %}

{% block title %}Registrar Podologo/a {% endblock %}

{% block body %}
    {{ form(formPod) }}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
